body {
  background-color: #40514E;
  margin: 0;
text-align: center;
font-family: 'Merriweather', serif;
font-weight: normal;
}
hr {
  border: dotted #EAF6F6 10px;
  border-bottom: none;
  margin: 100px auto;
  width: 4%;

}

h1 {
  font-family: 'Sacramento', cursive;
  color: cyan;
  font-size: 90px
}

h2 {
  font-family: 'Montserrat', sans-serif;
color: cyan;
font-size: 40px;
}
h3 {
  font-family: 'Montserrat', sans-serif;
font-size: 30px
}
p {
font-size: 20px;
}
a {
  text-decoration: none;
  margin: 10px 20px;
  color: #11999E;
  font-size: 30px
}

a:hover {
  color: WHITE;
}


.title {
background-color: #E4F9F5;
padding-top: 100px;
}
.top-cloud {
  position: relative;
  left : 220px;

}
.bottom-cloud {
  position : absolute;
  left : 500px;
}
.skill-row {
  line-height: 2;
  margin: 100px auto 100px auto;
text-align: left;
width: 50%;
}
.football-img {
  float: left;

}
.debating-img {
  float: right;
}
.BUTTON_ZCA {
   background: #3D94F6;
   background-image: -webkit-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -moz-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -ms-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -o-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -webkit-gradient(to bottom, #3D94F6, #1E62D0);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   height: 25px;
   line-height: 25px;
   color: #FFFFFF;
   font-family: Open Sans;
   width: 137px;
   font-size: 19px;
   font-weight: 500;
   padding: 9px;
   -webkit-box-shadow: 1px 1px 33px 6px #000000;
   -moz-box-shadow: 1px 1px 33px 6px #000000;
   box-shadow: 1px 1px 33px 6px #000000;
   text-shadow: 6px 0 12px #000000;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.BUTTON_ZCA:hover {
   border: solid #337FED 1px;
   background: #1E62D0;
   background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}



.bottom-container {
  margin-bottom: 0;
  margin-top: 50px;
    background-color: gray;
  font-size: 20px;
  padding-top: 20px;
padding-bottom: 20px
}
.copy-right {
  color : white;
font-size: 0.75rem;
}
